.grid-2by-2 {
  border: 1px solid LightGrey;
  width: 200px;
  height: 200px;
}

.square {
  display: inline-block;
  float:left;
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  border: 1px dashed Grey;
  background-color: white;
}

.circle {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  border: 1px dashed Grey;
  background-color: white;
  margin: 10px;
  float: left;
}

#pink {
  background-color: pink;
}

#yellow {
  background-color: yellow;
}
